fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
pydantic
pydantic-settings
email-validator
langchain
langgraph
langchain-community
langchain-ollama
faiss-cpu
sentence-transformers
python-dotenv
loguru
httpx
language-tool-python 
deep-translator
tenacity
streamlit
groq
langdetect
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
authlib
itsdangerous